body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
}
header {
    width: 100%;
    top: 0;
    display: flex;
    flex-direction: row;
    z-index: 1;
    position: fixed;
}
nav {
    display: flex;
    align-items: center;
    height: 50px;
    width: 100%;
}
nav div {
    display: flex;
    padding: 10px;
    align-items: center;
}

nav div:nth-child(1){
    justify-content: start;
}

nav div:nth-child(2){
    right: 0;
    text-align: right;
    justify-content: flex-end;
}

nav div a{
    white-space: nowrap;
    color:#3b3b3b;
    text-decoration: none;
    padding: 5px;

}
a:hover {
    text-decoration: underline;
}

main {
    position: relative;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: flex;
    padding-top: 220px;
}

main img {
    margin: 0 auto;
    display: block;    
}




