:root {
    --border-color: #ddd;
    --button-search-font: #3c4043;
    --button-search-background: #f8f9fa;
    --footer-background: #f2f2f2;
    --footer-font: #70757a;
    --footer-font-hover: #3c4043;
    --footer-font-active: #ea4335;
}

*,
::before
::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    line-height: 1.6;
    font-family: arial, sans-serif;
    font-size: 1.6rem;
    overflow: hidden;
}

/* Tags */

a {
    text-decoration: none;
    color: inherit;    
}

img {
    display: block;
}

input {
    border: none;
    outline: none;
}

button {
    border: none;
    cursor: pointer;
    font-family: inherit;
}

button:focus {
    outline:none;
}

/* Menu */

.top {
    font-size: 1.3rem;
    margin-top: 1.5rem;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.top-link{
    opacity: 0.85;
    margin-right: 1.5rem;
}

.top-link:hover {
    text-decoration: underline;
}

.button-top {
    width: 30px;
    height: 30px;
    margin-right: 1.5rem;
    background-color: #fff;
    background-image: url("//ssl.gstatic.com/gb/images/i1_1967ca6a.png");
    background-position: -132px -38px;
    opacity: 0.5;
}

.button-top:hover,
.button-top:focus {
    opacity: 0.85;
}

.avatar img {
    height: 34px;
    width: 34px;
    border: 1px solid #ddd;
    border-radius: 50%;
    margin-right: 3rem;
}

.avatar:hover img {
    border: 1px solid #aaa;
}

/* Main Section */

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-top: 15rem;
}

.logo {
    width: 272px;
    height: 92px;
    margin-bottom: 3rem;
}

.searchbar {
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 580px;
    padding: 1rem;
    padding-right: 1.5rem;
    border: 0.1px solid var(--border-color);
    border-radius: 30px;
}

.searchbar:hover:hover,
.searchbar:focus-within {
    border-color: white;
    box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
}

.search-icon {
    width: 25px;
    height: 25px;
    margin-right: 1rem;    
}

.search-input {
    width: 90%;
    height:  25px;
}

.voice-icon {
    width: 25px;
    height: 25px;
 
}

.voice-icon:hover {
    cursor: pointer;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2.4rem;
}

.button-search {
    min-width: 54px;
    height: 36px;
    padding: 0 16px;
    border: 1px solid transparent;
    border-radius: 5px;
    margin: 0.7rem;
    background-color: var(--button-search-background);
    color: var(--button-search-font);
    font-size: 1.4rem;
}

.button-search:hover {
    border-color: #dadce0;
    box-shadow: 0 1px 1px rgb(0 0 0 /10%);
}

.button-search:focus {
    border-color:rgb(53, 84, 255);
}

/* Footer */

.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border: 1px solid var(--border-color);
    background: var(--footer-background);
    color: var(--footer-font);
    font-size: 1.4rem;
}

.left,
.right {
    display: flex;
}

.right {
    margin-right: 3rem;    
}

.footer-link {
    display: block;
    padding: 1rem 0 1rem 3rem;
}

.footer-link:hover {
    text-decoration: underline;
    color: var(--footer-font-active);
}

/* Media Tasks */

@media (max-width: 680px) {
    .footer {
        flex-direction: column;
    }

    .searchbar {
        width: 80%
    }
}

