body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
}
header {
    width: 100%;
    top: 0;
    display: flex;
    flex-direction: row;
    z-index: 1;
    position: fixed;
}
nav {
    display: flex;
    align-items: center;
    height: 50px;
    width: 100%;
}
nav div {
    display: flex;
    padding: 10px;
    align-items: center;
    width: 50%;
}

nav div:nth-child(1){
    justify-content: start;
}

nav div:nth-child(2){
    right: 0;
    justify-content: flex-end;
}

nav div a{
    white-space: nowrap;
    color:#70757a;
    text-decoration: none;
    padding: 15px;
    font-size: 14px;
    font-family: arial,sans-serif;

}
a:hover {
    text-decoration: underline;
}

main {
    position: relative;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: flex;
    padding-top: 220px;
}

main img {
    margin: 0 auto;
    display: block;    
}

.search-icon {
    position: absolute;
    background-position: -248px -35px;
    margin: 30px 30px;
}

.voice-icon {
    position: absolute;
    background-position: 248px;
    margin: 28px 568px;
    background-position: 248px 35px;

}

.switch{
    bottom: 70px;
    right:15px;
    height: 25px;
    width: 25px;
    cursor: pointer;
    background-position: -212px -40px;
}

.switch:hover {
    background-color:  #eee;
    border-radius: 50%;
}

#search {
    margin: 20px;
    width: 50vw;
    max-width: 500px;
    height: 40px;
    border: 1px solid #e1e1e1;
    border-radius: 50px;
    padding: 0 40px;
    font-size: initial;   
}

#search:focus {
    outline: 0;
}

#search:hover, #search:active, #search.focus {
    box-shadow: 0px 1.7px 5px #dfdfdf;
    outline: none;
}

.buttons {
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.buttons div{
    margin: 5px;
    padding: 10px;
    color: #3b3b3b;
    background-color: #f8f9fa;
    border-color: #c0c0c0;
    cursor: pointer;
    border: 1px solid #fff;
    border-radius: 5px;
    font-family: arial,sans-serif;
    font-size: 14px;
}

.buttons #button:hover{
    border: 1px solid #c0c0c0;
}

.buttons a:hover{
    text-decoration: none;
}
    
footer {
    background-color: #eeeeee;
    padding: 5px;
    position: fixed;
    bottom: 0;
    width: 100%
}

